---
type Props = {
  classlist?: string[];
};

const { classlist = [] } = Astro.props;
---

<button
  class:list={[
    "hover:bg-secondary grid h-9 w-9 min-w-9 cursor-pointer place-content-center rounded-lg",
    "transition-colors duration-300",
    ...classlist,
  ]}
>
  <slot />
</button>
