---
import { Icon } from "astro-icon/components";
import SearchInput from "./SearchInput.astro";
import Button from "./Button.astro";
---

<header class="space-y-3 p-3 lg:space-y-0">
  <div class="flex items-center gap-2 lg:justify-between">
    <div class="mr-auto flex items-center gap-2 lg:mr-0 [&_span]:leading-1">
      <span class="text-3xl font-extrabold">E</span>
      <span class="text-xl font-bold">Mi Tienda</span>

      <Button classlist={["hidden lg:grid"]}>
        <Icon name="menu-icon" size={24} />
      </Button>
    </div>

    <SearchInput
      placeholder="Buscar productos"
      classlist={["hidden lg:flex"]}
    />

    <Button classlist={["lg:hidden"]}>
      <Icon name="menu-icon" size={24} />
    </Button>
  </div>

  <SearchInput placeholder="Buscar productos" classlist={["lg:hidden"]} />
</header>
