---
import RootLayout from "../layouts/root-layout.astro";
---

<RootLayout title="Inicio">
  <main class="h-full flex flex-col gap-4 p-4">
    <h1>HOLA MUNDO</h1>
    <div class="bg-foreground p-10 h-24 shadow-lg shadow-base-shadow"></div>
  </main>
</RootLayout>
